PORT=4000
FRONTEND_ORIGIN=http://localhost:8080
NODE_ENV=development
JWT_SECRET=replace-with-a-long-random-secret
SCRAPE_SOURCE_URL=https://stds.eng.cu.edu.eg/ClassList.aspx?s=1
ADMIN_EMAIL=abdotarekmoh108@gmail.com
ADMIN_PASSWORD=adminpass
